target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
terraform/.terraform
terraform/.ssh
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
/target/
### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store


# Terraform extras
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Llaves y secretos (Safe belt)
*.pem
*.pub
*.key
.env

# Ansibled
ansible/ansible_hosts

# Ignorar archivos de datos en la carpeta de la base de datos
docker-database/*.txt
docker-database/*.csv

# Excepto los archivos de configuración (por si acaso hubiera una regla global que los quitara)
!docker-database/Dockerfile
!docker-database/import.sql